* {

  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body {

  background-color: #ebebec;

}

header {

  background-color: #3a3e41;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;

}

.header-left {

  width: 100px;
  float: left;
  text-align: center;

}

.header-right {

  margin-left: 25px;
  padding-top: 14px;
  float: left;

}

nav {

  padding: 10px 20px;
  width: 100%;

}

ul {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

li {

  margin: 0 15px;
  color: #fff;
  transition: color 0.3s ease;

}

li:hover {

  color: #f39c12;
  cursor: pointer;

}

li:first-child {

  font-weight: bold;

}

main {

  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;

}

.menu-lateral {

  background-color: #c3c5c6;
  padding: 20px;

}

.conteudo-centro {

  padding: 20px;

}

footer {

  background-color: #3a3e41;
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: auto;
  color: #fff;

}

.logoTopo {

  width: 64px;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #007bff;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: #0056b2;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #007bff;
  min-width: 160px;
  z-index: 1;
}

.submenu li {
  width: 100%;
}

nav li:hover .submenu {
  display: block;
}

.logado,
.deslogado {

  width: 75px;
  height: 75px;
  border-radius: 50px;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  right: 20px;

}

.logado {

  background-color: chartreuse;

}

.deslogado {

  background-color: crimson;

}