* {

  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body {}

header {

  background-color: red;

}

nav {

  background-color: blue;

}

main {

  background-color: blueviolet;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

footer {

  background-color: black;
  margin-top: auto;

}

section {

  background-color: darkmagenta;

}